.body{
    height: 100%;
    width: 100%;
}

.headerContainer{
    /* border:5px solid pink; */
    height: 500px;
    width: 100%;
}

.orderBar{
height: 200px;
width: 100%;
display: flex;
flex-direction:row;
justify-content: space-around;
align-items: center;
/* border: 13px green; */
/* background-color: rgb(223, 171, 171); */
}

.logo{
    height: 55px;
    width: 100px; 
    padding-left: 10%; 
}

.orderButton{
    display: flex;
   margin: auto;
   padding-left: 50%;
   font-size:x-large;
}

.ordAsap{
    height:70px;
    background-color: green;
    width:300px;
    /* text-decoration-color: white; */
}

.bkgrdImg{
    height: 600px;
    width: 100%;
    margin-top: -50px;
    /* margin-top:100px; */
}

.boldPara{
    margin-top: -450px;
    padding-left: 35%;
    /* zoom: 100%; */
}

/* /* The animation Code * */
@keyframes offer {
    from {background-color: green; }
    to {background-color: yellow;}
}

/* To get an animation to work, you must bind the animation to an element ( tag). */
.claimOfferBut{
    height:70px;
    width:20%;
    background-color: green;
    animation-name: offer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.topContainer{
    display: flex;
    margin: auto;
    margin-top: 5%;
}

.topContHeader{
    margin-top: 15%;
    text-align: center;
    font-size:xx-large;
}



   