.body{
    height: 100%;
    width: 100%;
}

.headerContainer{
    /* border:5px solid pink; */
    height: 500px;
    width: 100%;
}

.orderBar{
height: 200px;
width: 100%;
display: flex;
flex-direction:row;
justify-content: space-around;
align-items: center;
/* border: 13px green; */
/* background-color: rgb(223, 171, 171); */
}

.logo{
    height: 55px;
    width: 100px; 
    padding-left: 10%; 
}

.orderButton{
    display: flex;
   margin: auto;
   padding-left: 50%;
   font-size:x-large;
}

.ordAsap{
    height:70px;
    background-color: green;
    width:300px;
    /* text-decoration-color: white; */
}

.bkgrdImg{
    height: 600px;
    width: 100%;
    margin-top: -50px;
    /* margin-top:100px; */
}

.boldPara{
    margin-top: -450px;
    padding-left: 35%;
    /* zoom: 100%; */
}

/* /* The animation Code * */
@keyframes offer {
    from {background-color: green; }
    to {background-color: yellow;}
}

/* To get an animation to work, you must bind the animation to an element ( tag). */
.claimOfferBut{
    height:70px;
    width:20%;
    background-color: green;
    animation-name: offer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.topContainer{
    display: flex;
    /* margin: auto; */
    margin-top: 5%;
}

.topContHeader{
    margin-top: 20%;
    text-align: center;
    font-size:50px;
}

.row{
    /* border: solid red; */
    height: 580px;
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: 25px;
}

@keyframes imgs{
   0% {
    border: solid green;
   } 
   50% {
    border-radius: 60%;
    border: solid blue;
   }
   100% {
    border: solid red;
   }
}

.img{
    border: solid green;
    height: 250px;
    width: 250px;
    margin: auto;
    animation-name: imgs;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.middleContainer{
    /* border: solid grey; */
    height: 750px;
    display: flex;
   justify-content: space-evenly;
    margin: auto;
    /* margin-top: 5%; */
    background-color:rgb(250, 240, 240);
}

.middleContHeader{
    /* border: 2px solid magenta; */
    height: 120px;
   max-width: fit-content;
    margin-bottom:-12%;
    padding-left: 30%;
    text-align: center;
    font-size:20px;
}

.roww{
    /* border: solid red; */
    height: 60%;
    width: auto;
    margin-top:12%;
    padding: 1%;
    text-align: center;
    justify-content: space-between;
}

.foodPrep{
    height: 60%;
    width: auto;
    margin-top:12%;
    padding: 1%;
    text-align: center;
    justify-content: space-between;
    background-image:url('https://www.hellofresh.com/recipes/crispy-buffalo-spiced-chicken-60c9fff23a9c2005004a0d5d') ;
}

.items{
    border: solid 3px blue;
    background-color: yellow;
}

.foodReview{
    background-image: url('https://youtu.be/GBxLdt4zobc');
}

@keyframes bottContHB{
 0% { 
    background-color: magenta;
   }
 25% {
    background-color: blueviolet;
 }
 75% {
    background-color: aquamarine;
 }
 100% {
    background-color: magenta; 
 }

}

.bottContHeader{
    border: 2px solid magenta;
   background-color: magenta;
    height: 135px;
  width: 40%;
    margin-bottom:-12%;
    margin-left: 29%;
    text-align: center;
    font-size:20px;
    animation-name: bottContHB;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}
   